.app-header {
  font-weight: 600;
  height: 120px;
  text-transform: uppercase;
}

.logo{
  font-family: logo;
  position:relative;
  z-index: 5;
  cursor: pointer;
}

.logo-container{
  position: relative;
}

.logo-container img {
  position: absolute;
  width: 239px;
  right: -130px;
  top: -67px;
}



.unit{
  background-color: #ff7f5000;
  border: 0;
  font-weight: 700;
}

.header-container {
  height: inherit;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 10;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.open{
  right: 20px;
}

.apply{
  display:block;
  z-index: 5;
}



.checkbox {
  opacity: 0;
  position: absolute;
  width: auto;
  cursor: pointer;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
  font-size: 12px;
}

.fa-sun {
  color: yellow;
  font-size: 12px;
}
