.app-header {
  font-weight: 600;
  height: 120px;
  text-transform: uppercase;
}

.logo{
  font-family: logo;
  position:relative;
  z-index: 5;
}

.logo-container{
  position: relative;
}

.logo-container img {
  position: absolute;
  width: 239px;
  right: -130px;
  top: -67px;
}
nav >*{
  font-size: 1.3rem;
  font-weight: 400;
}
nav > *:not(:last-child) {
  margin-inline-end: 20px;
}

.unit{
  background-color: #ff7f5000;
  border: 0;
  font-weight: 900;
}

.header-container {
  height: inherit;
}

.try{
  font-family: inherit;
  text-align: inherit;
  height: 2.5rem;
  width: 18rem;
  border-radius: 4px;
  font-size: 1.16rem;
  border: 1.6px solid #0f0144;
  background-color: #f1f1f1;
  position: absolute;
  opacity: 0.4;
  display: flex;
  align-items: center;
  top: 120px;
  padding-left: 1px;
}
