.search-list{
    position: absolute;
    z-index: 5;
    top: 60px;
  
}

.search-list .city-name{
    width: 29rem;
    border: 1.6px solid #0f0144;
    border-radius: 4px;
    font-size: 1.16rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.681);
    padding: 3px;

}

.search-list .city-name:hover{
    background-color: #1b131386;
}