* {
  box-sizing: border-box;
}


html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins';
}


.app{
  background-color: #d1e0ea;
  transition: background-color 0.5s;
}

img {
  width: 195px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
a:hover {
  text-decoration: underline;
}
a.my-active {
  color: orange !important;
}



button {
  font-family: inherit;
  cursor: pointer;
}

.serach{
  position: relative;
}

.svg-inline--fa {
  height: 1.2em;
}


