@media (max-width: 800px) {
    .main-layout{
        margin: 0 20px;
    }
    .logo {
        font-size: 4rem;
    }
    .cards-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(70px, 1fr));
        grid-gap: 30px;
    }
    .search-list .city-name{
        width: 90vw;
        border: 1.6px solid #0f0144;
        border-radius: 4px;
        font-size: 1.16rem;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.681);
        padding: 3px;
    
    }
    input {
        height: 3.8rem;
        width: 90vw;
        border-radius: 4px;
        font-size: 1.9rem;
        border: 1.6px solid #0f0144;
        background-color: #f1f1f1;
        position: static;
        z-index: 10;
      }
}

@media (min-width: 800px) {
    .search-list .city-name{
        width: 29rem;
        border: 1.6px solid #0f0144;
        border-radius: 4px;
        font-size: 1.16rem;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.681);
        padding: 3px;
    
    }
    input {
        height: 3.8rem;
        width: 29rem;
        border-radius: 4px;
        font-size: 1.9rem;
        border: 1.6px solid #0f0144;
        background-color: #f1f1f1;
        position: static;
        z-index: 10;
      }
    .logo {
        font-size: 5rem;
    }
.main-layout{
    margin: 0 45px;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-gap: 30px;
}
}
@media (min-width: 1395px) {
    .main-layout {
        margin: 0 90px;
        max-width: 1750px;
    }
      

      .cards-grid{
        display: grid;
        grid-template-columns: repeat(5, minmax(180px, 1fr));
        grid-gap: 60px;
    }
      
}
@media (min-width: 1630px) {
    .main-layout {
        margin: 0 auto;
        max-width: 1550px;
      }
      .cards-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(220px, 1fr));
        grid-gap: 100px;
    }
      
}