@media (max-width: 800px) {
    .main-layout{
        margin: 0 20px;
    }
    .logo {
        font-size: 4rem;
        position:static;
        z-index: 5;
    }
    .cards-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(70px, 1fr));
        grid-gap: 30px;
    }
    .search-list .city-name{
        width: 12rem;
        border: 0;
        font-size: 1.16rem;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.681);
        padding: 3px;
        border-bottom: 1px solid #00000033;      
    }
    
    .serach-container{
        position: relative;
        width: 90vw;
        
    }
    
    input {
        height: 3.8rem;
        width: 90vw;
        border:0;
        background-color: #f1f1f1;
        position: static;
        z-index: 10;
        font-size: 25px !important;
    }
    input:focus-visible{
        outline: 0
    }
    .favorite-page{
        min-height:100vh;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        position: fixed;
        right: -100vw;
        top: 120px;
        z-index: 10;
        background-color: #68afe2;
        width: 48vw;
        height: 47.5vh;
        align-items: center;
        transition: right 0.5s;
        gap: 46px;
        box-shadow: -5px 5px 15px 5px #00000069;
    }
    .nav-bg{
        inset: 0;
        background-color: rgb(255 255 255 / 27%);
        height: 100vh;
        position: fixed;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(0.5px);
        display: none;
        cursor: pointer;
    }
    .unit{
        margin-bottom: 36px;
    }
    nav >*{
        font-size: 2rem !important;
        font-weight: 400;
      }
      .menu {
        position: fixed ;
        right: 0;
        }
    
    }
    
    
    @media (min-width: 800px) {
        .toggle-dark{
            position: absolute;
            top: 54px;
            right: -9px;
        }
    nav >*{
        font-size: 1.3rem !important;
        font-weight: 400;
      }
    
    .menu, .nav-bg{
        display: none !important;
    }
    nav{
        display: flex;
        position: relative;
    }
    nav > *:not(:last-child) {
        margin-inline-end: 20px;
      }
    .favorite-page{
        min-height:100vh;
    }
    .search-list .city-name{
        width: 12rem;
        border: 0;
        font-size: 1.16rem;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.681);
        padding: 3px;
        border-bottom: 1px solid #00000033;
    }

    .serach-container{
        position: relative;
        width: 29rem;
    }
    input {
        height: 3.8rem;
        width: 29rem;
        border: 0;
        background-color: #f1f1f1;
        position: static;
        z-index: 10;
        font-size: 25px !important;
        padding-left: 25px;
    }

    input:focus-visible{
        outline: 0
    }

    .logo {
        font-size: 5rem;
    }
.main-layout{
    margin: 0 45px;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-gap: 30px;
}
.unit .desc{
    font-size:1.3rem
}
}
@media (min-width: 1395px) {
    .main-layout {
        margin: 0 90px;
        max-width: 1750px;
    }
      

      .cards-grid{
        display: grid;
        grid-template-columns: repeat(5, minmax(180px, 1fr));
        grid-gap: 60px;
    }
      
}
@media (min-width: 1630px) {
    .main-layout {
        margin: 0 auto;
        max-width: 1550px;
      }
      .cards-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(220px, 1fr));
        grid-gap: 100px;
    }
      
}

/* display: flex;
flex-direction: column;
position: fixed;
right: 0;
background-color: #000000ed;
top: 0;
height: 100vh;
z-index: 10;
width: 50vw;
gap: 50px;
align-items: center;
padding-top: 67px; */